div{
    border: 1px solid;
    background-color: white;

}
h1{
    border: 1px solid;
}

#container{
   
    background-color:darkmagenta;
    padding: 50px 25px;
    display: flex;
    justify-content: space-around;
}